# Project directory root (relative to docker-compose file location)
AIRFLOW_PROJ_DIR=..
AIRFLOW_UID=50000

# Airflow encryption key (Generate one using: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
FERNET_KEY=your_fernet_key_here

# Database connection credentials
DB_HOST=localhost
DB_PORT=5432
DB_USER=airflow
DB_PASSWORD=airflow
DB_NAME=airflow

# Raw data Cloudfront URL
BASE_URL=https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_

# Landing directory inside container
LANDING_PATH=/opt/airflow/data/landing