# Environment
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml

# Airflow
logs/
*.log

# Data files
*.parquet
*.csv
!dbt/seeds/*.csv
data/

# OS
.DS_Store
Thumbs.db

# Ambientes virtuais Python
env/
venv/
.venv/
ENV/

# data folder
data/

# Python notebook
*.ipynb